@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  background: #000A2C;
  
}

.irish-grover{
  font-family: "Irish Grover", system-ui;
}

.luckiest-guy{
  font-family: "Luckiest Guy", cursive;
}
